/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode
    ]

    withName: 'TCOFFEE' {
        ext.args = {
            [
                "-mode ${params.mode}",
                params.method ? "-method ${params.method}"        : '',
                // TODO check what is output_format
                "-output ${params.output_format.replace(',', ' ')}",
                "-case ${params.case}",
                "-seqnos ${params.seqnos}",
                "-outorder ${params.outorder}",
                "-maxnseq ${params.maxnseq}",
                "-maxlen ${params.maxlen}",
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/tcoffee/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

}
